
<!-- Google Charts CDN and scripts -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('42', {'packages':['corechart', 'bar']});
  google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  {% if category == 'All' %}

    var piedata = google.visualization.arrayToDataTable([
      ['Category', 'Total'],
      {% for key, value in total.items %}
      ['{{ key }}',   {{ value }}],
      {% endfor %}
    ]);

    var pieoptions = {
      title: 'Categories of sold items',
      legend: {position: 'labeled'},
      theme: 'maximized',
    };

    var piechart = new google.visualization.PieChart(document.getElementById('piechart'));

    piechart.draw(piedata, pieoptions);


    var piedata2 = google.visualization.arrayToDataTable([
      ['Category', 'Total'],
      {% for key, value in total_per_currency.items %}
      ['{{ key }}',   {{ value }}],
      {% endfor %}
    ]);

    var pie2options = {
      title: 'Categories of sold items',
      legend: {position: 'labeled'},
      theme: 'maximized',
    };



    var piechart2 = new google.visualization.PieChart(document.getElementById('piechart2'));


    piechart2.draw(piedata2, pie2options);

    {% else %}

    var columndata = google.visualization.arrayToDataTable([
      ['Category', 'Total'],
      {% for key, value in top_list.items %}
      ['{{ key }}',  {{ value }}],
      {% endfor %}
    ]);

    var columnoptions = {
      title: 'Penis',
      theme: 'maximized',
      legend: {position: 'none'},
    };

    var columnchart = new google.visualization.ColumnChart(document.getElementById('columnchart'));

    columnchart.draw(columndata, columnoptions);


{% endif %}
  }

</script>
<!-- Google Charts end -->

{% if category == 'All' %}
  <div id="piechart" class="pie1"></div>
  <div id="piechart2" class="pie2"></div>
{% else %}

  <div id='columnchart' class="stats-info"></div>
  <div class="row total-table">
  <table class="table">
    <tr>
      <th> Currency </th>
      <th> Value </th>
    </tr>
  {% for key, value in total_per_currency.items %}
    <tr>
      <th>{{ key }}</th>
      <td>{{ value }}</td>
    </tr>
  {% endfor %}
    <tr>
      <th> Total (EUR) </th>
      <td> {{ total_EUR }} </td>
    </tr>
  </table>


{% endif %}
