

{% if messages %}


{% for message in messages %}
   <li class="full-message">
      <div class="row">
      {% if message.user_from == request.user %}
        <div class="col-xs-1 picture-container">
          <img src="{{ message.user_from.profile.avatar.url }}" class="message-picture" alt="">    
        </div>
        <div class="col-xs-11 closer">
          <div class="message-me">{{ message.message }}</div>
        </div>
      {% else %}
        <div class="col-xs-11 closer" id="friend-container">
          <div class="message-friend">{{ message.message }}</div>
        </div>          
        <div class="col-xs-1 picture-container">
          <img src="{{ message.user_from.profile.avatar.url }}" class="message-picture" alt="">    
        </div>

      {% endif %}  
      </div>
  </li>
{% endfor %}


{% endif %}
