{% extends 'base.html' %}

{% block content %}

{% if products %}


<a href="/buy" class="btn btn-primary btn-space custom-btn">Back</a>

<table class="table">
  {% for product in products %}
  <tr>
    <th> {{ product.name }} </th>
    <th> {{ product.price }}{{ product.currency }}</th>    
    <th> 
  {% if full_cart %}   
    {% for item in full_cart %}
      {% if item.product.id == product.id %}
        ADDED
      {% endif %}
    {% endfor %}  
  <!-- CRAZY FIX -->
  {% else %}
        <div style="visibility: hidden;">ADDED</div>
  {% endif %}
    </th>
    <th> <a href="/buy/?category={{ product.p_type }}&add={{ product.id }}" class="btn btn-primary btn-space custom-btn">Add to cart</a></th>
  </tr>
  {% endfor %}
</table>
{% else %}

<div class=header-standard> <h1> Buy a product! </h1> </div>

{% for category in categories_string %}

<div class="link-box">
  <a href='/buy/?category={{ category }}' class="settings-link">{{ category }}</a>
</div>
{% endfor %}
{% endif %}

{% endblock %}
