{% extends 'base.html' %}

{% block content %}




<div class="container-fluid message-list" id="id-message">
{% if messages %}
<ul id="new-message">
{% for message in messages %}
<li class="full-message">
    <div class="row">
    <div class="col-xs-1">
        <img src="{{ message.user_from.profile.avatar.url }}" height="70" width="70" alt="">    
    </div>
    <div class="col-xs-11 closer">
        <div class="message">{{ message.message }}</div>
    </div>
    </div>
</li>

{% endfor %}

</ul>

{% else %}

<div class="message">No messages yet!</div>
{% endif %}

</div>



  <div class="container-fluid" id="login-form">
    <form class="form-horizontal input-group" method="post" id='message-form'>

      {% csrf_token %}
      <fieldset>
        {% for field in form %}
        <div class="control-group">
          <label class="control-label">{{ field.label }}</label>
          <div class="controls">{{ field }} {% if field.help_text %}
            <p class="help-inline"><small>{{ field.help_text }}</small></p>
            {% endif %}
          </div>
        </div>
        {% endfor %}

      </fieldset>
      <span class="form-actions input-group-btn" style="visibility: hidden;">
        <button type="submit" class="btn btn-primary btn-space">Send Message</button>
      </span>
      
    </form>

  </div>


<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

<script>
  // Submit message on submit
$('#message-form').on('submit', function(event){
    event.preventDefault();
    console.log("message submitted!")  // sanity check
    create_message();
});

function create_message() {
  console.log("create message is working!") // sanity check
  $.ajax({
      url : "/send_message/", // the endpoint
      type : "POST", // http method
      data : { 
                'the_message' : $('#post-message').val(), 
                'user2' : "{{ user2 }}",
                'csrfmiddlewaretoken': '{{ csrf_token }}',
              }, // data sent with the post request

      // handle a successful response
      success : function(json) {
          $('#post-message').val(''); // remove the value from the input
          console.log(json); // log the returned json to the console
          console.log("success"); // another sanity check
      },

      // handle a non-successful response
      error : function(xhr,errmsg,err) {
          $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
              " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
          console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      }
  });
};

 // refresh messages every 1/4 sec
setInterval(function() {
    $.ajax({
        type: "GET",
        url: {% url 'get_messages' %},  // URL to your view that serves new info
        data: {
                'user2' : '{{ user2 }}',
        },
    })
    .done(function(response) {
        $('#new-message').append(response);
        // scroll to bottom when new message 
        if(response.trim()!=''){
          var objDiv = document.getElementById("id-message");
          objDiv.scrollTop = objDiv.scrollHeight;    };

    });
}, 250)
</script>


{% endblock %}
