{% extends 'corporate-base.html' %}

{% block content %}

  {% if user.is_authenticated %}

<div class="col-md-4">
  <div class="container-fluid">
        <div class="jumbotron" id="profile">

          <h1 class="header-standard"><small>Your Money</small></h1>
          <hr>
          <p>EUR: {{ user.profile.EUR }}</p>
          <hr>
          <p>USD: {{ user.profile.USD }}</p>
          <hr>
          <p>RON: {{ user.profile.RON }}</p>

        <a href="/topup/" class="btn btn-info custom-btn" role="button">Topup</a>
        </div>
  </div>
</div>

  {% endif %}

{% endblock %}
