<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Dot.</title>

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="/static/corporate-style.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

</head>

<body>

  <!-- NAVIGATION BAR -->
  <div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- LOGO -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#" id="sidebarCollapse">Dot.</a>
      </div>
      <!-- BUTTONS -->
      <div class="collapse navbar-collapse">

        <ul class="nav navbar-nav navbar-right">

          <li><a href="/logout">Logout</a></li>
          <li><a href="/settings">Settings</a></li>
          <li><a href="/messages"><div id="messlength">Messages (<b>&#8194</b>)</div></a></li>
<!-- NOTIFICATIONS -->
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <div id="notiflength">Notifications (<b>&#8194</b>)</div></a>
          <ul class="dropdown-menu notify-drop">
            <div class="notify-drop-title">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">Notifications </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right"><a href="#" id="clickingEvent" class="pop">(mark as read)</a></div>
                </div>
            </div>
            <!-- end notify title -->
            <!-- notify content -->
            <div class="drop-content" id="_appendHere">


            </div>

            <div class="notify-drop-footer text-center">
                <a href=""><i class="fa fa-eye"></i> Show all </a>
            </div>
          </ul>
        </li>
<!-- END NOTIFICATIONS -->

        </ul>
      </div>
    </div>
  </div>




  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <img src="{{ user.profile.avatar.url }}" class="img-thumbnail" id="avatar">
        <h3>Wallet</h3>
        <strong>$</strong>
      </div>
      <ul class="list-unstyled components">
        <li {% if request.get_full_path == "/" or request.get_full_path == "/profile/" %} class="active" {% endif %}>
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
            <i class="glyphicon glyphicon-home"></i>Home</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li><a href="/">Profile</a></li>
            <li><a href="/settings">Settings</a></li>
          </ul>
        </li>
        <li {% if request.get_full_path == "/wallet/" %} class="active" {% endif %}>
          <a href="/wallet"><i class="glyphicon glyphicon-usd"></i>Wallet</a>
        </li>
        <li {% if request.get_full_path == "/products/" %} class="active" {% endif %}>
          <a href="/products"><i class="glyphicon glyphicon-tags"></i>Products</a>
        </li>
        <li {% if request.get_full_path == "/sales/" %} class="active" {% endif %}>
          <a href="/sales"><i class="glyphicon glyphicon-shopping-cart"></i>Sales</a>
        </li>
        <li {% if request.get_full_path == "/rates/" %} class="active" {% endif %}>
          <a href="/rates"><i class="glyphicon glyphicon-flash"></i>Campaigns</a>
        </li>
        <li {% if request.get_full_path == "/friends/" %} class="active" {% endif %}>
          <a href="/friends"><i class="glyphicon glyphicon-user"></i>Friends</a>
        </li>
        <li {% if request.get_full_path == "/rates/" %} class="active" {% endif %}>
          <a href="/rates"><i class="glyphicon glyphicon-stats"></i>Data</a>
        </li>
      </ul>
    </nav>


    <!-- Page Content Holder -->

    <div id="content">
    {% block content %}
    {% endblock %}
    </div>


  </div>

  <!-- FOOTER -->
  <div class="navbar navbar-static-bottom navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/terms">© Dot Enterprises 2018 | London | Bucharest | T&Cs </a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a href="/about">Learn More</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- END FOOTER -->

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <!-- Bootstrap Js CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#sidebarCollapse').on('click', function() {
        $('#sidebar').toggleClass('active');
        $('#avatar').toggleClass('hidden');
      });
    });
  </script>

<!-- AJAX -->
  <script>
    setInterval(function() {
        $.ajax({
            type: "GET",
            url: {% url 'get_notifications' %},  // URL to your view that serves new info
        })
        .done(function(response) {
            $('#_appendHere').empty().append(response);
        });
    }, 1000)
</script>

<script>
  setInterval(function() {
      $.ajax({
          type: "GET",
          url: {% url 'notiflength' %},  // URL to your view that serves new info
      })
      .done(function(response) {
          $('#notiflength').empty().append(response);
      });
  }, 1000)
</script>

<script>
  setInterval(function() {
      $.ajax({
          type: "GET",
          url: {% url 'messlength' %},  // URL to your view that serves new info
      })
      .done(function(response) {
          $('#messlength').empty().append(response);
      });
  }, 1000)
</script>


<script>
$(document).ready(function(){
  $('a.pop').click(function() {
      $.ajax({
          type: "GET",
          url: {% url 'mark_as_clear' %},  // URL to your view that serves new info
      });
  });
});
</script>
