{% extends 'base.html' %}

{% block content %}

<h1 class="header-standard"> Friends <a href="/search-friends"><i class="small glyphicon glyphicon-plus" style="color: #68ec53"></i></a> </h1>

    {% for friend in friend_list %}
    <p>{{ friend.friend.username }} </p>
    {% endfor %}

  <!-- Pending Requests -->
{% if request_list %}
<h1 class="header-standard"> Requests </h1>

    {% for request in request_list %}
    <p>{{ request.creator.username }} <a href="/add-friend/?friend={{ request.creator.username }}&accepted=true"><i class="glyphicon glyphicon-ok-sign icon-green"></i></a> <a href=#><i class="glyphicon glyphicon-remove-sign icon-red"></i></a> </p>
    {% endfor %}

{% endif %}

{% if pending_list %}
<h1 class="header-standard"> Pending </h1>

    {% for pending in pending_list %}
    <p>{{ pending.friend.username }} </p>
    {% endfor %}
{% endif %}

  {% endblock %}
