{% extends 'base.html' %}

{% block content %}
          <h1 class=header-standard>Active Orders</h1>

          <table class="table">
            <tr>
              <th> Name </th>
              <th> From </th>
              <th> To </th>
              <th> Amount left to exchange </th>
              <th> Status </th>
              <th> Date </th>
              <th> Time </th>
            </tr>
            {% for order in orders reversed %}
            <tr>
              <td>{{ order.user }}</td>
              <td>{{ order.home_currency }}</td>
              <td>{{ order.target_currency }}</td>
              <td>{{ order.home_currency_amount }}</td>
              <td>{{ order.status }}</td>
              <td>{{ order.date }}</td>
              <td>{{ order.time }}</td>
            </tr>
            {% endfor %}
          </table>



<h1 class="header-standard">Completed Orders</h1>
            <table class="table">
              <tr>
                <th> Name </th>
                <th> From </th>
                <th> To </th>
                <th> Status </th>
                <th> Date </th>
                <th> Time </th>
              </tr>
              {% for order in completed_orders reversed %}
              <tr>
                <td>{{ order.user }}</td>
                <td>{{ order.home_currency }} {{ order.home_currency_amount }}</td>
                <td>{{ order.target_currency }} {{ order.target_currency_amount }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.date }}</td>
                <td>{{ order.time }}</td>
              </tr>
              {% endfor %}
            </table>

{% endblock %}
