<!DOCTYPE html>
<html>
<title>Your Wallet</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px 0px">
  <h1 class="w3-xlarge">YOUR WALLET</h1>
  <h1>{{ user.get_full_name }}</h1>
  
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
      <a href="/hello" class="w3-bar-item w3-button">Wallet</a>
      <a href="/topup" class="w3-bar-item w3-button">Topup</a>
      <a href="/withdraw" class="w3-bar-item w3-button w3-light-grey">Withdraw</a>
      <a href="/rates" class="w3-bar-item w3-button">Rates</a>
      <a href="/transfer" class="w3-bar-item w3-button w3-hide-small">Transfer</a>
      <a href="/exchange" class="w3-bar-item w3-button w3-hide-small">Exchange</a>
      <a href="/history" class="w3-bar-item w3-button w3-hide-small">History</a>
    </div>
  </div>
</header>

{% if user.is_authenticated %}
<!-- Wallet Information -->

{% if notif %}
<h1 class="w3-center w3-small" style="color: red"><a href="/notifications">You have notifications</a></h1>
{% endif %}
<div class="w3-row-padding w3-grayscale w3-center" style="margin-bottom:128px">
  <div class="w3-large">
    <a href="/friends" class="w3-bar-item">SEE FRIENDS</a> <br><br>
    Username: {{ user.username }} <br>
    Location: {{ user.profile.location }}<br>    
    Birth Date: {{ user.profile.birth_date }}<br>
    USD: {{ user.profile.USD }}<br>
    EUR: {{ user.profile.EUR }}<br>
    RON: {{ user.profile.RON }}<br>  
    <div class="w3-border" style="margin-top:32px">
  	<a href="/logout" class="w3-button w3-hide-small">Logout</a>
    </div
  </div>
  {% else %}
  <div class="w3-row-padding w3-center" style="margin-bottom:128px">
    <div class="w3-xlarge" style="color: red">
        <a href="/login">Login</a> or <a href="/signup">Sign Up</a> to view your wallet.
    </div>
  </div>
  
  {% endif %}
  
<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large"> 
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>

</body>
</html>

