{% extends 'base.html' %}


{% block content %}
<div class="jumbotron" id="profile">
<div class="row">
<div class="col-md-4">
<h1 class=page-header> EUR </h1>
    <table class="table table-striped">
        <tr>
            <td>RON</td>
            <td>{{ eurron }}</td>
        </tr>
        <tr>
            <td>USD</td>
            <td>{{ eurusd }}</td>
        </tr>
    </table>
</div>
<div class="col-md-4">
<h1 class="page-header"> USD </h1>
    <table class="table table-striped">
        <tr>
            <td>RON</td>
            <td>{{ usdron }}</td>
        </tr>
        <tr>
            <td>EUR</td>
            <td>{{ usdeur }}</td>
        </tr>
    </table>
</div>
<div class="col-md-4">
<h1 class="page-header"> RON </h1>
    <table class="table table-striped">
        <tr>
            <td>USD</td>
            <td>{{ ronusd }}</td>
        </tr>
        <tr>
            <td>EUR</td>
            <td>{{ roneur }}</td>
        </tr>
    </table>
</div>
  </div>
</div>
{% endblock %}
