{% extends 'base.html' %}
{% block content %}
<head>
  <script type="text/javascript" src="/static/lookup.js"></script>
</head>
<body onload="hideUsers()">
          {% if sent %}
          <h3 style="color: red">Invitation sent!</h3> {% endif %}
          <input type="text" id="myInput" onkeyup="searchUser()" placeholder="Search for names..">
          <ul id="myUL">
            {% for user in user_list %}
            <li><a href="/add-friend/?friend={{ user.username }}"> {{ user.username }} </a></li>
            {% endfor %}
          </ul>

</body>
{% endblock %}
