{% extends 'base.html' %}

{% block content %}

<div class=header-standard> <h1> Exchange to any currency! </h1> </div>



<div class="col-md-4">
  <div class="container-fluid" id="login-form">
    <form class="form-horizontal" method="post">{% csrf_token %}
      <fieldset>
        {% for field in form %}
        <div class="control-group">
          <label class="control-label">{{ field.label }}</label>
          <div class="controls">{{ field }} {% if field.help_text %}
            <p class="help-inline"><small>{{ field.help_text }}</small></p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </fieldset>
      {% if error %}
      <div class="alert alert-danger alert-space">
        You do not have enough money!
      </div>
      {% endif %}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-space custom-btn">Exchange</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
